.form-group {
    margin-bottom: 30px !important;
}

.Week-Days-block {
    display: flex;
}

.Week-Days {
    margin-left: 25px;
}

.react-time-picker__wrapper {
    padding: 0 10px;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
}

.react-time-picker__clock {
    display: none;
}

.react-time-picker__clock-button {
    display: none;
}

.Add-group {
    width: 200px;
    height: 40px;
    color: #ffffff;
    border-radius: 80px;
    background: #28a745 !important;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-color: none !important;
}