/*.GroupControlPanel{*/
    /*margin: 0 14% 20px;*/
/*}*/
/*.GroupControlPanel-button{*/
    /*background: url("../../assets/images/houses.svg") 50% no-repeat;*/
    /*width: 60px;*/
/*}*/
/*.GroupControlPanel a{*/
    /*text-decoration: none;*/
    /*color: black;*/
    /*font-weight: 600;*/
    /*font-style: italic;*/
/*}*/

/*.GroupControlPanel a:hover{*/
    /*margin-top: 10px;*/
    /*margin-bottom: -10px;*/
/*}*/