.Organizations-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.Organization-info {
    display: flex;
    flex-direction: row;
}
.Organization-Card {
    height: 100%;
    padding-bottom: 25px;
}
.Organization-Title {
    font-weight: bold;
    font-size: 1.75rem;
    height: 4rem;
    overflow: hidden;
    padding-right: 40px;
}
.Organization-Logo {
    width: 300px;
    margin-bottom: 10px;
}
.Organization-info .Organization-Logo {
    flex: 0;
}
.Organization-Map {
    width: 50%;
    height: 300px;
    margin-bottom: 20px;
}
.Organization-Description{

}
.Organization-rightinfo {
    padding-left: 20px;
}