.EventForm-Map{
    width: 100%;
    height: 300px;
}

.Preview-image-block {
    margin: 30px 0 30px;
    margin-left: 17%;
}

.Preview-image {
    width: 350px;
    height: 200px;
}

.Input-date {
    margin-left: 15px;
}

.react-date-picker__wrapper {
    border-radius: 5px;
    padding: 0 10px;
}