.Group-management {
    position: absolute;
    right: 50px
}

.EventPage-title {
    font-weight: 600;
    /*text-align: center;*/
}

.Free-places {
    margin-top: 50px;
    text-align: center;
}

.Free-places-end {
    text-align: center;
    color: #000 !important;
}

.Profit {
    margin-bottom: 50px;
}

.EventPage-image {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
}

.EventPage-startdate {
    margin-left: 5%;
}

.EventPage-priceMonth {
    margin-left: 5%;
}

.EventPage-places {
    margin-left: 3%;
}

.EventPage-description {
    margin-left: 5%;
    margin-right: 5%;
}

.EventPage-Map {
    width: 80%;
    height: 300px;
    margin-left: 10%;
    margin-bottom: 20px;
}

.EventPage-button {
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 25px;
    width: 80%;
}

.user-header {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 15px;
}