.main-event-block {
    margin: 0 auto;
    padding: 0 30px;
}
.Events-Col{
    position: relative;
}
.Events-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.Events-Card{
    height: 100%;
    padding-bottom: 25px;
}
.Events-Image{
    width: 100%;
}
.Events-CardText{
    margin-top: 15px;
    font-weight: bold;
}
.Events-Title{
    font-weight: bold;
    font-size: 1.75rem;
    height: 4rem;
    overflow: hidden;
    padding-right: 40px;
}
.Event-dropdown-btn {
    position: absolute;
    right: 10px;
    top: 10px;
}
.Event-dropdown-btn .dropdown-toggle:after {
    display: none;
}

.Events-Watch-Event-Button button{
    width: 100%;
}
.Events-Watch-Event-Button{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.Events-Delete-Event-Button{
    margin: 5px;
}
.Events-admin-text{
    color: red;
    font-weight: bold;
    margin-top: 15px;
    font-size: 20px;
}

.Events-verification {
    text-align: center;
    margin-top: 15%;
}
